/* Overall per-user container */
[data-speaking="true"], [data-speaking="false"] {
	max-height: 160px !important;
	max-width: 168px !important;
	height: 160px !important;
	width: 168px !important;
	overflow-x: hidden !important;
	overflow-y: hidden !important;
}

/* Image style */
canvas { 
	filter: drop-shadow(0 0 6px #000) !important;
	overflow: hidden !important;
	object-fit: cover !important;
	margin-bottom: 0px !important;
	height: 100% !important;
}

/* Text style */
.z-30 { 
	display: block;
	color: inherit;
	font-family: "***YOUR FONT HERE***" !important;
	font-stretch: ultra-condensed !important;
	text-wrap: balance !important;
	text-wrap-mode: wrap !important;
	word-break: normal;
	overflow: hidden;
	white-space: nowrap;
	text-shadow: 3px 0 0 #000, 0 -3px 0 #000, 0 3px 0 #000, -3px 0 0 #000, 2px 2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, -2px -2px 0 #000, 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000 !important;
	margin-bottom: 0px;
	text-overflow: ellipsis;
}
