/* Vertically stacked reactives */
/* Please consider uncommenting the option in FixedIconSizeAndRepositionText.css to bottom-align your text labels */
.grid {
	margin-top: -20px !important;
}
.flex {
	flex-direction: column !important;
	aspect-ratio: 1 / 1 !important;
	width: 100% !important;
	object-fit: cover !important;
}
.max-w-full {
	align: center !important;
	height: 100% !important;
}
